/* ==========================================================================
   Header
   ========================================================================== */

header{
	@extend .transition;

	.header-mob{
		background-color: #e5e5e5;
		overflow: visible;
		height: 58px;
		padding-top: 12px;

		.open-menu,
		.logo,
		.search-mob,
		.bag-mob{
			display: inline-block;
			vertical-align: middle;
		}

		.bag-mob{
			position: relative;
			text-align: center;

			.portal-totalizers-ref{
				position: absolute;
			    top: 18px;
			    right: 32px;
			    z-index: 9999;

				.title{
                    display: none;
                }

                .cart-info{
                    li{
                        display: none;
                        list-style: none;

                        &.amount-items{
                            display: block;

                            strong{
                                display: none;
                            }

                            em{
                                @include font-size(1.2);
                                font-style: normal;
                                color: #fff;
                            }
                        }
                    }
                }
			}
		}

		.search-mob{
			text-align: right;
			margin-top: 5px;
		}

		.searchform-mob{
			display: none;
			position: relative;

			fieldset{
				width: 100%;
				text-align: center;
				position: absolute;

				label,
				select,
				legend,
				{
					display: none;
				}

				input{
					height: 30px;
					border: none;
				}

				.fulltext-search-box{
				    width: 55%;
				    border-radius: 5px;
				    font-size: 11px;
				    font-weight: 600;
				    padding-left: 7px;
				    color: #6d6b6a;
				    height: 30px;
				}

				.btn-buscar{
					background: #6d6b6a;
					color: #fff;
					font-weight: 600;
					font-size: 12px;
					border-radius: 5px;
					height: 30px;
				}
			}
		}
	}

	.top-box {
		height: 28px;
		overflow: hidden;
		background-color: #e5e5e5;
		padding: 8px 0;

		.welcome-msg{
			.ajax-content-loader{
				p{
					@include font-size(1.1);
					font-weight: 700;


					em{
						font-weight: 400;

						a{
							color: #000;
							text-decoration: none;
						}
					}
				}
			}
		}

		.info-loja {
			text-align: right;
			font-weight: bold;

			ul{
				li{
					display: inline-block;

					a{
						@include font-size(1.1);
						color: #000;
						text-decoration: none;

						&:hover{
							text-decoration: underline;
						}
					}

					&:last-child{
						a{
							margin-left: 10px;
						}

						&:before{
							content: "|";
							margin-left: 10px;
							display: inline-block;
						}
					}
				}
			}
		}
	}

	.middle-box {
		clear: both;
		height: 78px;
		overflow: visible;
		background: #e5e5e5;

		.logo {
			text-align: left;
			margin: 10px 0;
		}

		.searchform {

			fieldset {
				width: 80%;
				margin: 20px 10% 0;
				position: absolute;
				display: inline-block;

				label,
				legend,
				select {
					display: none;
				}

				input.fulltext-search-box {
					@include font-size(1.1);
					border: 1px solid #000;
					font-style: italic;
					height: 40px;
					padding: 8px 20px;
					color: #000;
					width: 100%;
					background: #e5e5e5;
				}

				input.btn-buscar {
					background: url(/arquivos/lupa-search-black1.png) no-repeat;
				    width: 24px;
				    height: 24px;
				    position: absolute;
				    right: 3%;
				    top: 22%;
				    text-indent: -15000px;
				    border: none;
				}
			}
		}

		.account-cart{
			padding-top: 18px;
			text-align: right;

			.account-itens{
				display: inline-block;
				vertical-align: middle;
				font-weight: bold;

				ul{
					li{
						display: inline-block;
						margin-right: 10px;

						a{
							@include font-size(1.2);
							text-decoration: none;
							color: #000;
						}

						&:first-child{
							&:after{
								content: ".";
								font-weight: bolder;
								display: inline-block;
								padding-left: 10px;
								vertical-align: top;
							}
						}
					}
				}
			}

			.cart-itens{
				display: inline-block;
				vertical-align: middle;
				position: relative;

				.bag-ico{
					width: 40px;
					height: 40px;
					cursor: pointer;
					display: block;

					.portal-totalizers-ref{
						position: absolute;
					    top: 12px;
					    right: 6px;
					    z-index: 9999;

						.title{
		                    display: none;
		                }

		                .cart-info{
		                    li{
		                        display: none;
		                        list-style: none;

		                        &.amount-items{
		                            display: block;
	                                padding: 10px;

		                            strong{
		                                display: none;
		                            }

		                            em{
		                                @include font-size(1.2);
		                                font-style: normal;
		                                color: #fff;
		                            }
		                        }
		                    }
		                }
					}
				}

				&:hover{
					#minicart{
						display: block;
					}
				}
			}
		}
	}

	.menu {
		text-align: center;
		border-top: 1px solid #e0e0e0;
		background-color: #000;

		nav{
			position: relative;

			a {
				text-decoration: none;

				&:hover {
					text-decoration: none;
				}
			}

			li {
				&.menu-item {
					@extend .transition;
					text-align: center;
				    display: inline-block;
				    vertical-align: middle;
				    margin: 0 1%;
				    overflow: visible;
				    padding: 12px 0;

					.submenu {
						@include font-size(1.1);
						@extend .transition;
						left: 0;
						top: 36px;
						z-index: 9;
						width: 1200px;
						display: none;
						padding: 20px 0px 40px 30px;
						text-align: left;
						position: absolute;
						background-color: #fff;
						min-height: 250px;
						height: auto;
						-webkit-box-shadow: 0px 0px 11px -2px rgba(191,191,191,0.75);
						-moz-box-shadow: 0px 0px 11px -2px rgba(191,191,191,0.75);
						box-shadow: 0px 0px 11px -2px rgba(191,191,191,0.75);

						h3 {
							@include font-size(1.4);
							color: #666;
							margin-bottom: 20px;
						}

						.btn.ver-todos {
							float: left;
							margin-top: 10px;
						}

						.submenu-items {
							float: left;
							width: 65%;

							.item {
								float: left;
								width: 230px;

								li {
									line-height: 28px;

									a{
										color: #000;
									    text-transform: none;
									    font-size: 14px;
									}
								}
							}
						}

						.submenu-banner {
							width: 450px;
							float: right;
							overflow: hidden;
							height: auto;
							width: 35%;
							margin-right: -80px;

							.prateleira {
								float: right;

								li {
									width: 100%;
									clear: both;
									display: block;
									text-align: center;
									margin-bottom: 30px;
									overflow: hidden;
									padding: 10px;

									a.productShelf {
										color: #fff;

										span.principal,
										span.secundario {
											float: left;
											margin-right: 1%;
											width: 49%;

											img {
												height: auto;
												max-width: 100px;
											}
										}

										article{
											float: right;
											width: 50%;

											.discount-price{
												display: block;
												text-align: center;
												clear: both;

												&:after{
													display: block;
												}
											}
										}
									}

									.action-buttons{
										display: none;
									}
								}
							}

							h2 {
								display: none;
							}
						}
					}

					&.has-sub {
						&:hover {
							.submenu {
								@extend .transition;
								display: block;
							}
						}
					}

					&:last-child {
						&:after{
							content: none;
						}

						// a.menu-anchor {
						// 	color: #ccbbb4;
						// 	font-weight: bolder;
						// }
					}

					&:after{
						content: ".";
					    font-weight: bolder;
					    display: inline-block;
					    padding-left: 10px;
					    vertical-align: top;
					    margin-left: 10px;
					}
				}

				a.menu-anchor {
					@include font-size(1.2);
					color: #fff;
					text-transform: uppercase;
					font-weight: 500;

					&:hover {
						color: #fff;
					}
				}
			}
		}
	}
}


.ui-autocomplete{
	.ui-menu-item{
		&:hover{
			background-color: #756d6d!important;
		}
	}
}
